<section class="aspirations">
  <div class="wrapper">
    <h2>Aspirations</h2>
    <p>I aspire to be a better developer then I was yesterday.</p>
    <p>I aspire to make a difference in lives through education.</p>
    <p>I aspire to create high quality apps through my passion of code.</p>
    <p>I aspire to stay passionate and creative.</p>
    <p>I aspire to be kind and positive.</p>
  </div>
</section>