<section class="aspirations">
  <div class="wrapper">
    <h2>Aspirations</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ut eos, illo velit autem quisquam dignissimos veniam optio ducimus impedit magni iusto amet accusantium aliquam obcaecati id quae tempore nemo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ut eos, illo velit autem quisquam dignissimos veniam optio ducimus impedit magni iusto amet accusantium aliquam obcaecati id quae tempore nemo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ut eos, illo velit autem quisquam dignissimos veniam optio ducimus impedit magni iusto amet accusantium aliquam obcaecati id quae tempore nemo.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum ut eos, illo velit autem quisquam dignissimos veniam optio ducimus impedit magni iusto amet accusantium aliquam obcaecati id quae tempore nemo.</p>
  </div>
</section>