<section class="biography">
    <div class="wrapper">
    <h2>Biography</h2>
    <p>I grew up in the small town of Poplar Bluff, Missouri. Population of about 24000 people. Most of the population has technical knowledge, and used that knowledge in gaming. I was one of those individuals that loved to game. I still game to this day.</p>
    <p>At the age of 27, I met the love of my life and met my step-son. We also had 2 children together. As a family type of individual, becoming a father was and is the most import role I have ever had.</p>
    <p>During my late teens and most of my 20's, I started working factory. Factory in the city that I lived in was good money. Something always felt off working there. I felt like I could achieve more, for myself and for my family.</p>
    <p>In December of 2015, a friend of mine spoke with my wife about this amazing bootcamp called Flatiron School. This bootcamp taught Full Stack Web Development and transformed lives with learning the skillset and getting a job with that skillset. My wife talked me into trying out the free introducation to that bootcamp. And I was hooked.</p>
    <p> I had played around with the idea of coding in Unity before with C# and also learned a little bit of javascript in codeacademy. However, never really had any strong foundation in coding. I started the official bootcamp at the end of January and finished at the end of May.</p>
    <p>I loved the Flatiron Environment. The staff and students alike were all super positive and motivated. After graduation, I landed my first gig working for Flatiron School as a Technical Coach.</p>
    <p>Technical Coaches helped other students who are stuck with their code by using socratic methods in order to get them unstuck. I worked as a technical coach for 1 year and 6 months before becoming a Technical Coach Lead.</p>
    <p>Technical Coach Leads manage a squad of Technical Coaches. We would give them performance reviews and do admin kind of work. I was a Technical Coach Lead for 6 months before Flatiron School was releasing a new beta for a structured program for students that is taught by Cohort Leads. A group of us helped shape that role, to which is my role today after releasing the full program.</p>
    <p>I never thought I'd love education so much, but that never keeps me from developing as well. I have equal passion for both education and development. In my role, I also have a responsibility working as a developer on our instructor app. Which is an app that we use to keep track of student data amongst other things.</p>
    <p>I look forward to seeing what my passions in this field will take me, I currently am learning about game design and programming. One day I'd love to not only be a web developer, but be in the market for game development as well.</p>
  </div>
</section>