<section class="contact-info">
  <div class="wrapper">
    <h2>Contact Info</h2>
    <ul>
      <li>Email: <%= link_to "enochgriffith1985@gmail.com", "mailto:enochgriffith1985@gmail.com" %></li>
      <li>Phone Number: <%= link_to "1-573-872-0432", "tel:1-573-872-0432" %></li>
      <li>LinkedIn: <%= link_to "LinkedIn", "https://www.linkedin.com/in/enochgriffith/", target: "_blank" %></li>
      <li>Facebook: <%= link_to "Facebook", "https://www.facebook.com/enoch.griffith", target: "_blank" %></li>
    </ul>
  </div>
</section>