<section class="motivation">
  <div class="wrapper">
    <h2>Motivation</h2>
    <p>These are the things that keep me motivated</p>
    <ul>
      <li><strong>Family:</strong> Being able to support my family and being a role model to my children</li>
      <li><strong>Challenges:</strong> Challenges excite me. Doing things I haven't done before in order to increase my knowledge. Completing a challenge feels like you've leveled up as a person.</li>
      <li><strong>Role Models:</strong> Avi Flombaum, co-founder of Flatiron School and motivational speaker. Inspires people to do their best and that anyone can learn a skill. Steve Jobs, founder of Apple and motivational speaker. Inspires people to never give up. That you can build an empire in your parents basement. To always reflect on your past and remember why you first enjoyed your passion.</li>
    </ul>
  </div>
</section>