<section class="motivation">
  <div class="wrapper">
    <h2>Motivation</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum earum itaque doloribus deserunt reprehenderit sequi! Voluptate fugit explicabo porro, non cumque tempora iure, minima, minus amet libero saepe placeat. Vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum earum itaque doloribus deserunt reprehenderit sequi! Voluptate fugit explicabo porro, non cumque tempora iure, minima, minus amet libero saepe placeat. Vero.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum earum itaque doloribus deserunt reprehenderit sequi! Voluptate fugit explicabo porro, non cumque tempora iure, minima, minus amet libero saepe placeat. Vero.</p>
  </div>
</section>