<section class="resume">
  <div class="technical">
    <div class="wrapper">
      <h2>Technical Experience</h2>
      <h3>Portfolio Website</h3> 
      <ul>
        <li>A portfolio website I designed to show my work and details about myself</li>
        <li>Created with ruby on Rails</li>
        <li>Used the MVC paradigm for file structure to organize code.</li>
        <li>Hosted with heroku using a postgresql database</li>
        <li>Used javascript to make the page interactive</li>
        <li>Wrote HTML and CSS to design page layouts.</li>
      </ul>
      <h3>Black Jack Cli</h3>
      <ul>
        <li>Created a simple black jack cli using ruby</li>
        <li>Used Object Orientation with Ruby to correctly represent objects</li>
        <li>Created a user friendly Command Line Interface UI for users to interact with</li>
        <li>Added 2 player functionality</li>
        <li>Created a smart AI for the player to play against</li>
      </ul>
    </div>
  </div>
  <div class="employment">
    <div class="wrapper">
      <h2>Employment History</h2>
      <h3>Flatiron School, New York, New York</h3>
      <h3>Cohort Lead / Web Developer, 06/2018 - current</h3>
      <ul>
        <li>Educate a cohort of students on full stack web development.</li>
        <li>Have weekly 1:1s with students in order track progression and answer any questions.</li>
        <li>Run Study Groups (zoom meetings) to teach concepts of development.</li>
        <li>Teach students how to research as a developer in order to find solutions</li>
        <li>Review student projects</li>
        <li>Fix or add features to our instructor app, which uses a ruby on rails framework with some React (using webpacker)</li>
      </ul>
      <hr>
      <h3>Flatiron School, New York, New York</h3>
      <h3>Technical Coach Lead, 12/2017 - 06/2018</h3>
      <ul>
        <li>Manage a squad of Technical Coaches</li>
        <li>Improve the Technical Coach Role</li>
        <li>Document Technical Coach Processes</li>
        <li>Have 2 monthly performance reviews with Technical Coaches</li>
        <li>Perform Employee Training</li>
        <li>Do technical interviews for potential technical coaches</li>
      </ul>
      <hr>
      <h3>Flatiron School, New York, New York</h3>
      <h3>Technical Coach, 06/2016 - 12/2018</h3>
      <ul>
        <li>Help students debug their code via the socratic method, using an Ask A Question feature on learn.co</li>
        <li>Supported Students with their portfolio projects</li>
        <li>Ran study groups for self paced students to teach coding concepts</li>
        <li>Helped students debug their coding environments</li>
      </ul>
      <hr>
      <h3>Starting USA, Poplar Bluff, Missouri</h3>
      <h3>Line Worker / Setup / Forklifter, 04/2009 - 05/2016</h3>
      <ul>
        <li>Worked with a team to assemble small engine starters.</li>
        <li>Ensured the line would have all their materials needed as a Setup.</li>
        <li>Checked parts to make sure they would pass Quality Assurance.</li>
        <li>Drove a Forklift to get materials needed from storage.</li>
        <li>Helped find better methods to improve work quality.</li>
        <li>Collaborated well with others to achieve team goals.</li>
      </ul>
    </div>
  </div>
  <div class="education">
    <div class="wrapper">
      <h2>Education</h2>
      <h3>Flatiron School - completed 2016</h3>
      <ul>
        <li>Online Web Software Engineering - Full Stack React / Rails</li>
      </ul>
      <h3>Three Rivers Community College - Poplar Bluff, Missouri - 2004 - 2005</h3>
      <ul>
        <li>Courses completed in General Education, Computer Networking, and Art.</li>
      </ul>
    </div>
  </div>
</section> 