<section class="resume">
  <div class="technical">
    <div class="wrapper">
      <h2>Technical Experience</h2>
      <h3>Tech Blog</h3> 
      <ul>
        <li>A blogging / social app for users in the technology industry</li>
        <li>Created Rails back-end and AngularJs front-end for a dynamic one-page website.</li>
        <li>Used the MVC paradigm for file structure to organize code.</li>
        <li>Built the database using ActiveRecord and SQLite3.</li>
        <li>Implemented C.R.U.D. methods to create the blogging data.</li>
        <li>Wrote HTML and Bootstrap CSS to design page layouts.</li>
        <li>Wired Devise and Angular-Devise for handling user information.</li>
      </ul>
      <h3>Booktopia - A demo of an online bookstore</h3>
      <ul>
        <li>Created Rails back-end and a JavaScript / JQuery front-end for page dynamics.</li>
        <li>Used the MVC paradigm for file structure to organize code.</li>
        <li>Utilized ajax to acquire json data from the Rails back-end to manipulate the front-end.</li>
        <li>Wrote HTML to structure the page layout.</li>
        <li>Translated Ruby Objects to Javascript Objects using ajax calls.</li>
        <li>Implemented an omniauth login through Facebook.</li>
        <li>Wired Devise for handling user authentication.</li>
      </ul>
      <h3>Blizzard News Reader</h3>
      <ul>
        <li>A demo of a cli scrapper using Ruby, Nokogiri, and open-url</li>
        <li>Used Nokogiri and open-url to scrape content from battle.net.</li>
        <li>Utilized Ruby classes to structure organized tasks.</li>
        <li>Implemented Ruby methods for only displaying latest news articles.</li>
        <li>Parsed data to make the information readable.</li>
        <li>Built a user friendly cli to make the program usable by anyone.</li>
      </ul>
    </div>
  </div>
  <div class="employment">
    <div class="wrapper">
      <h2>Employment History</h2>
      <h3>Flatiron School, New York, New York</h3>
      <h3>Cohort Lead, 06/2016 - current</h3>
      <ul>
        <li>Provide technical support to students facing environment issues.</li>
        <li>Help students improve their coding skills through the Ask Chat feature (e.g. Ruby, JavaScript, Angularjs).</li>
        <li>Collaborate with other teams to best support students.</li>
        <li>Escalate any application bugs to the development team.</li>
        <li>Research new methods to solve new and unknown issues.</li>
        <li>Give feedback on project organization and code.</li>
      </ul>
      <h3>Starting USA, Poplar Bluff, Missouri</h3>
      <h3>Line Worker / Setup / Forklifter, 04/2009 - 05/2016</h3>
      <ul>
        <li>Worked with a team to assemble small engine starters.</li>
        <li>Ensured the line would have all their materials needed as a Setup.</li>
        <li>Checked parts to make sure they would pass Quality Assurance.</li>
        <li>Drove a Forklift to get materials needed from storage.</li>
        <li>Helped find better methods to improve work quality.</li>
        <li>Collaborated well with others to achieve team goals.</li>
      </ul>
    </div>
  </div>
  <div class="education">
    <div class="wrapper">
      <h2>Education</h2>
      <h3>Flatiron School - completed 2016</h3>
      <ul>
        <li>Online Web Software Engineering - Full Stack React / Rails</li>
      </ul>
      <h3>Three Rivers Community College - Poplar Bluff, Missouri - 2004 - 2005</h3>
      <ul>
        <li>Courses completed in General Education, Computer Networking, and Art.</li>
      </ul>
    </div>
  </div>
</section> 