<footer>
  <div class="wrapper">
    <h2>Stay In Touch!</h2>
    <a href="mailto:enochgriffith1985@gmail.com">Email</a>
    <a href="https://github.com/enoch2k2" target="_blank">Github</a>    
    <a href="https://www.linkedin.com/in/enochgriffith/" target="_blank">LinkedIn</a>
    <a href="https://www.facebook.com/enoch.griffith" target="_blank">Facebook</a>
    <p>&copy;Enoch Griffith 2019</p>
  </div>
</footer>